# These variables are passed into the docker container
CF_DNS_API_TOKEN=
HOMELAB_DOMAIN=domain.tld
ADGUARD_IP=X.X.X.X
AUTHENTIK_IP=
GITEA_IP=
GRAFANA_IP=
IMMICH_IP=
JELLYFIN_IP=
TRUENAS_IP=
VAULTWARDEN_IP=
WIREGUARD_IP=